version: "3.3"

services:
  web:
    image: docker.pkg.github.com/khonkaen-hospital/phonebook-frontend/phonebook:latest
    ports:
      - 7005:80
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - api
  api:
    image: docker.pkg.github.com/khonkaen-hospital/phonebook-backend/phonebook-api:latest
    expose:
      - 3000
    volumes:
      - ./.env:/app/.env

volumes:
  db-data:
